<!DOCTYPE html>
<html>
<title>FIND DOG</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Icons font CSS-->
<link href="/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Vendor CSS-->
<link href="/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="/static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
<!-- Main CSS-->
<link href="/static/css/main.css" rel="stylesheet" media="all">
<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
	body, html {
	  height: 100%;
	  color: #777;
	  line-height: 1.8;
	}
</style>

<body>
<!-- ######################################## TOP BAR ########################################### -->
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a id="nav-home" href="/home" class="w3-bar-item w3-button"><i class="fa fa-th-large"></i> HOME</a>
        <a id="nav-post" href="/post" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-file-o"></i> POST</a>
        <a id="nav-find" href="/find" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-link"></i> FIND</a>
		<a id="nav-account" href="/login" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ACCOUNT</a>
    </div>
</div>

<div class="page-wrapper p-t-100 p-b-120" style="background-color:rgb(230,249,255);">

<!-- ########################################## FILTER BAR ########################################## -->
    <nav class="w3-sidebar-r card-4 w3-collapse w3-top w3-large" style="z-index:3;width:325px;font-weight:bold;" id="mySidebar">
		<img src="static/img/dog-1.png"></img>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <form method="POST" action="#">
                    <div class="col-2">

                        <div class="input-group">
                            <label class="label">zipcode</label>
                            <input class="input--style-1" type="text" placeholder="00000" id="zipcode">
                        </div>
						
						<div class="input-group">
                            <label class="label">around</label>
                            <input class="input--style-1" type="text" placeholder="100" id="miles">
                            <label class="label">miles</label>
                        </div>

                        <div class="input-group-select">
                            <label class="label">breed</label>
                                <select name="breed" id="breed">
                                    <option></option>
                                </select>
                        </div>
                        <div class="input-group-select">
                            <label class="label">gender</label>
                                    <select name="gender" id="gender">
                                        <option></option>
                                        <option>M</option>
                                        <option>F</option>
                                    </select>
                        </div>

                        <div class="input-group">
                            <label class="label">age</label>
                            <input class="input--style-1" type="text" name="age" placeholder="MIN" id="minAge">
                            <label class="label">-</label>
                            <input class="input--style-1" type="text" name="age" placeholder="MAX" id="maxAge">
                        </div>

                        <div class="input-group-select">
                            <label class="label">Color</label>
                                <select name="color" id="color">
                                    <option></option>
                                    <option>white</option>
                                    <option>brown</option>
                                    <option>black</option>
                                    <option>orange</option>
                                    <option>gray</option>
                                    <option>mix</option>
                                </select>
                        </div>

                        <div class="input-group-select">
                            <label class="label">Hair</label>
                                <select name="hair" id="hair">
                                    <option></option>
                                    <option>long</option>
                                    <option>medium</option>
                                    <option>short</option>
                                    <option>none</option>
                                </select>
                        </div>

                        <div class="input-group-select">
                            <label class="label">Personalities</label>
                                <select name="personality" id="personality" multiple>
                                    <option></option>
                                    <option>sweet</option>
                                    <option>stubborn</option>
                                    <option>proud</option>
                                    <option>quite</option>
                                    <option>cute</option>
                                    <option>royal</option>
                                    <option>independent</option>
                                    <option>happy</option>
                                    <option>shy</option>
                                    <option>adaptable</option>
                                    <option>intelligent</option>
                                    <option>anxious</option>
                                    <option>brave</option>
                                    <option>crazy</option>
                                    <option>wild</option>
                                    <option>needy</option>
                                </select>
                        </div>

                    </div>
                </form>
                <button id="btn-search-dog" class="btn-submit" type="submit">search</button>
            </div>
        </div>
    </nav>

<!-- ########################################## MAIN GRID ########################################## -->
    <div class="w3-main" style="margin-left:40px;margin-right:340px" id="display-grid">
        <!-- Modal for full size images on click-->
        <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
            <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption"></p>
            </div>
        </div>
    </div>

</div>

<!-- ########################################## SCRIPTS ########################################## -->
<!-- Vendor JS-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/select2/select2.min.js"></script>
<script src="/static/vendor/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/vendor/bootstrap-wizard/bootstrap.min.js"></script>
<script src="/static/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/static/vendor/datepicker/moment.min.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/usage.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
        if ("{{ login }}" != "") {
            document.getElementById("nav-home").setAttribute("href", "/home/login/{{ login }}");
            document.getElementById("nav-post").setAttribute("href", "/post/login/{{ login }}");
            document.getElementById("nav-find").setAttribute("href", "/find/login/{{ login }}");
			document.getElementById("nav-account").setAttribute("href", "/userpage/{{ login }}/login/{{ login }}");
        }
    </script>
	<script>
		// DOG
		const btnDog = document.getElementById('btn-search-dog');
		if (btnDog) {
		    setUp(0);
		    btnDog.addEventListener('click', function(){ getPet(0); }, false);
		}
		// CAT
		const btnCat = document.getElementById('btn-search-cat');
		if (btnCat) {
		    setUp(1);
		    btnCat.addEventListener('click', function(){ getPet(1); }, false);
		}
		
		function setUp(species_id) {
		    var site = 'http://coasttocoast.web.illinois.edu';
		    // breed list
		    var url = site + '/breed?species_id=' + species_id;
		    fetch(url)
		        .then(res => {
		                return res.json()
		        })
		        .then(data => {
		                console.log(data);
		                data.forEach(obj => {
		            var opt = document.createElement("option");
		                        var t = document.createTextNode(obj.name);
		                        opt.appendChild(t);
		            document.getElementById("breed").appendChild(opt);
		        });
		        })
		        .catch(error => console.log('ERROR'))
		}

		function getPet(species_id){
		    var zipcode = document.getElementById("zipcode").value;
		    var miles   = document.getElementById("miles").value;
		    var breed   = document.getElementById("breed").value;
		    var gender  = document.getElementById("gender").value;
		    var minAge  = document.getElementById("minAge").value;
		    var maxAge  = document.getElementById("maxAge").value;
		    var color   = document.getElementById("color").value;
		    var hair    = document.getElementById("hair").value;
		    var arr = document.getElementById("personality").selectedOptions;
		    personalities = "";
		    for (let i=0; i<arr.length; i++) {
		        if (i>0) { personalities = personalities + ","; }
		        personalities = personalities + "\"" + arr[i].value + "\"";
		    }
		    var url = 'http://coasttocoast.web.illinois.edu/pet?species_id=' + species_id;
		    if (zipcode) {
		        url = url + "\&zipcode=" + zipcode;
		        if (miles) { url = url + "\&miles=" + miles; }
		        else       { url = url + "\&miles=" + 100; }
		    }
		    if (breed)   { url = url + "\&breed=" + breed; }
		    if (gender)      { url = url + "\&gender=" + gender; }
		    if (minAge)      { url = url + "\&minAge=" + parseInt(minAge); }
		    if (maxAge)      { url = url + "\&maxAge=" + parseInt(maxAge); }
		    if (color)   { url = url + "\&color=" + color; }
		    if (hair)    { url = url + "\&hair=" + hair; }
		    if (personalities) { url = url + "\&personality=" + personalities + ""; }
		    console.log(url);
		
		    fetch(url)
		    .then(res => res.json())
		    .then(data => {
		        document.getElementById("display-grid").innerHTML = "";
		        console.log(data);
		        var count = 0;
		        data.forEach(obj => {
		            console.log(count);
		            if (count % 4 == 0) {
		                var row = document.createElement("div");
		                row.setAttribute("class", "w3-row-padding w3-padding-8 w3-center");
		                row.setAttribute("id", "row-" + (count/4 | 0));
		                document.getElementById("display-grid").appendChild(row);
		            }
		
		            var div = document.createElement("div");
		            div.setAttribute("class", "w3-quarter");
		
		            var img = document.createElement("IMG");
		            if (obj.image == 'NULL') { img.setAttribute("src", "/static/img/nophoto-dog.png"); }
		            else                   { img.setAttribute("src", obj.image); }
		            img.setAttribute("style", "width:100%");
		            div.appendChild(img);
		
		            var a = document.createElement("a");
		            if ("{{ login }}" != "") { a.setAttribute("href", "http://coasttocoast.web.illinois.edu/present-dog/" + obj.id + "/login/{{ login }}"); }
		            else                     { a.setAttribute("href", "http://coasttocoast.web.illinois.edu/present-dog/" + obj.id); }
		            var t = document.createTextNode(obj.name);
		            a.appendChild(t);
					a.setAttribute("style", "font-size: 25px; color:rgb(94,94,94);");
            		div.appendChild(a);
		
		            document.getElementById("row-" + (count/4 | 0)).appendChild(div);
		            count++;
		        });
		    })
		        .catch(error => console.log('ERROR'))
		
		}
	 </script>


</body>
</html>
