<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="user.css" rel="stylesheet" media="all">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>

<body style="background-color: rgb(230,249,255);">

<!-- ############################# Navbar (sit on top) ############################# -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="/home" class="w3-bar-item w3-button"><i class="fa fa-th-large"></i> HOME</a>
        <a href="/post" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-file-o"></i> POST</a>
        <a href="/find" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-link"></i> FIND</a>
        <a href="/account" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ACCOUNT</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
            <i class="fa fa-search"></i>
        </a>
    </div>
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a href="/home" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
        <a href="/post" class="w3-bar-item w3-button" onclick="toggleFunction()">POST</a>
        <a href="/find" class="w3-bar-item w3-button" onclick="toggleFunction()">FIND</a>
        <a href="/account" class="w3-bar-item w3-button" onclick="toggleFunction()">ACCOUNT</a>
        <a href="#" class="w3-bar-item w3-button">LOG IN</a>
    </div>
</div>

<!-- ############################# Icon Bar (Sidebar - hidden on small screens) ############################# -->
<nav class="user-sidebar w3-bar-block w3-small w3-hide-small w3-center" style="color:rgb(117, 214, 255);">
  <!-- Avatar image in top left corner -->
  <img src="../avatar/ava1.png" style="width:80%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-blue-2">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>LIST</p>
  </a>
  <a href="#review" class="w3-bar-item w3-button w3-padding-large w3-hover-blue-2">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>REVIEW</p>
  </a>
  <a href="#info" class="w3-bar-item w3-button w3-padding-large w3-hover-blue-2">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>INFO</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">LIST</a>
    <a href="#review" class="w3-bar-item w3-button" style="width:25% !important">REVIEW</a>
    <a href="#info" class="w3-bar-item w3-button" style="width:25% !important">INFO</a>
  </div>
</div>

<!-- ############################# Page Content ############################# -->
<div class="w3-padding-small" style="margin-top:100px; margin-left:200px; margin-right:200px; background-color: rgb(117, 214, 255);" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center" id="pet-list">
    <h2 class="w3-jumbo" style="color:white;" id="username">asfdkb123</h2>
  </header>

  <div class="w3-content w3-justify w3-padding-16" style="margin-left:0; margin-right:0;">
    <div class="w3-row-padding w3-center" id="food">
    <div class="w3-quarter">
      <img src="dog-ex.jpg" alt="Sandwich" style="width:100%; border:5px white solid;">
      <h3>Simba</h3>
	  <p>Laborado Nasby</p>
	  <p>adoptable</p>
    </div>
    <div class="w3-quarter">
      <img src="dog-ex2.jpg" alt="Sandwich" style="width:100%; border:5px white solid;">
      <h3>Simba</h3>
	  <p>Laborado Nasby</p>
	  <p>adoptable</p>
    </div>


    </div>
    </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="review">
	 <div class="w3-row w3-center w3-padding-8 w3-section w3-white">
      <div class="w3-third w3-section">
        <span class="w3-xlarge">11+</span><br>
        Post Pets
      </div>
      <div class="w3-third w3-section">
        <span class="w3-xlarge">55+</span><br>
        Adopted Pets
      </div>
      <div class="w3-third w3-section">
        <span class="w3-xlarge">89+</span><br>
        Happy Reviews
      </div>
    </div>
 

    <h3 class="w3-padding-16 w3-text-light-grey">Score</h3>
    <p class="w3-wide">Photoshop</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div><br>
    
    <h3 class="w3-padding-16 w3-text-light-grey">Reviews</h3>

     <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="info">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Name: Dargo Wang</p>
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Chicago, US  62100</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
    </div><br>
 <!-- End Contact Section -->
  </div>
 
<!-- END PAGE CONTENT -->
</div>

<script src='user.js' language='javascript'></script>

</body>
</html>

